fastapi==0.116.1
uvicorn[standard]==0.35.0
sqlalchemy==2.0.42
alembic==1.16.4
pydantic==2.11.7
pydantic-settings==2.10.1
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
email-validator==2.2.0
numpy==1.26.4
PyMuPDF==1.26.3
PyPDF2==3.0.1
sentence-transformers==3.0.1
faiss-cpu==1.8.0.post1
transformers==4.57.6
accelerate==1.10.1
peft==0.14.0
torch>=2.5.1
